:root {
  --header-height: 10vh;
  --main-body-height: 100vh;
  --nav-width: 68px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*marquee*/

.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.marquee-text {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
